<div class="container py-vh-3 border-top" data-aos="fade" data-aos-delay="200">
  <div class="row d-flex justify-content-center">
    <div class="col-12 col-lg-8 text-center">
      <h3 class="fs-2 fw-light">
        Stay in touch with our<span class="fw-bold"> monthly and free</span>
        newsletter!
      </h3>
    </div>
    <div class="col-12 col-lg-8 text-center">
      <div class="row">
        <div class="grouped-inputs border bg-light p-2">
          <div class="row">
            <div class="col">
              <form class="form-floating">
                <input
                  type="email"
                  class="form-control p-3"
                  id="floatingInput"
                  placeholder="name@example.com"
                />
                <label for="floatingInput">Email address</label>
              </form>
            </div>
            <div class="col-auto">
              <a href="#" class="btn btn-dark py-3 px-5">Subscribe</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
